
* {
	font-family: 'Open Sans', sans-serif;
}

.navbar {
	background-color: #86D7C5;
	color: black;
}
.navbar-right{
	background-color: #86D7C5;
}

.navbar-fixed-top {
	margin-bottom: 10px;
}

ul li a {
	color: black;
}

ul li a:hover {
	color: #40B299;
}

.img-clinique {
	background-image: url(chien.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	margin-top: 50px;
	width: 100%;
  	height: 500px;
  	opacity: 0.7;
	
}

.nom{
	margin: 145px 0 auto 60px;
}

.flaticons {
	margin: 0 auto;
	height: 50px;
	width: 100px;
}
.flaticon {
	height: 35px;
	width: 35px;
}

h1, h3, h2, h5, h4{
	text-align: center
}

h1 {
	font-size: 70px;
	color: black;
}

h3 {
	font-size: 45px;
	color: black;
}

.presentation {
	background-color: white;
}
p {
	text-align: justify;
	margin-left: 10px;
	margin-bottom: 70px;
	
}

.photo_veto {
	float: left;
	height: 150px;
	width: 120px;
}



.footer{
	margin-top: 20px;
	padding-top: 15px ;
	background-color: #40B299;
	color: white;
}

/* CSS 2eme page Conseils*/

.pageConseil {
	margin-top: 80px;
}

.icone {
	height: auto;
	width: auto;
	margin-left: 120px;
	margin-bottom: 20px;
}

.separation {
	margin-top: 100px;
}

h6 { 
	padding-top: 80px;
}

.scrollup {
	width: 200px;
	height: 60px;
	position: fixed;
	bottom: 70px;
	right: 70px;
	display: none;
	color: #40B299;
	border: none;
	font-size: 20px;
	text-align: center;
	line-height: 37px;
}
 
.scrollup:hover {
	color: green;
}


/* CSS 3eme page Tarifs*/
.accordion{
	height: 700px;
}

#accordion {
	margin-top: 100px; 
	margin-bottom: 100px;
}

#TitreTarif {
	text-align: left;
}

/* CSS 4eme page Contact*/

/* CSS 4eme page partie formulaire*/

.TitreForm {
	margin-top: 100px;
	margin-right: 50px;
}
.identite {
	margin-top: 40px;
	margin-bottom: 20px;
}

input {
	height: 50px;
	width: 200px;
}
.type {
	height: 50px;
	width: 200px;
}

.probleme {
	margin-top: 20px;
	margin-bottom: 5px;
	height: 50px;
	width: 200px;
}
.avis {
	width: 500px;
	height : 200px;
	margin-bottom: 5px;
}

.EnvoieForm {
	float: right;
	margin-right: 40px;
}

/* CSS 4eme page partie adresse et map*/
.adresse {
	margin: 0 auto;
	margin-top: 80px;
	margin-bottom: 40px;
	padding-top: 10px;
	padding-left: 10px;
	background-color: #40B299;
	color: white;
	height: 120px;
	width: 280px;
	border-radius: 10px;
}

.map {
	margin: 0 auto;
}


/* CSS plan du site*/

.indexPlanDuSite {
	text-align: left;
}