
* {
	/*font-family: 'Open Sans', sans-serif;*/
	font-family: 'Roboto Condensed', sans-serif;
}


.corpsDuTexte {
	padding: 0px;
}

/* CSS menu*/

.navbar {
	background-color: #3A83FF;
	color: black;
}
.menu{
	background-color: #3A83FF;
	margin-left: 20%;
}

.navbar-fixed-top {
	margin-bottom: 10px;
}

.marginBarrenav {
	margin-top: 30px;
}

ul li a {
	color: white;
}

ul li a:hover {
	color: #40B299;
}

/* CSS Page d'Accueil*/

.img-clinique {
	background-image: url(img-renomes/facade.JPG);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	margin: 0px 0px 0px 0px;
	padding-left: 0px;
	padding-right: 0px;
	width: 100%;
  	height: 400px;
  	position: relative;	 	
}

.nom{
	margin: 0 auto;
	margin-top: 70px;
	background-color: rgba(4, 52, 89,0.6);
	width: 700px;
}

.flaticons {
	margin: 0 auto;
	height: 50px;
	width: 100px;
}
.flaticon {
	height: 35px;
	width: 35px;
}

h1, h3, h2, h5, h4{
	text-align: center;
}

h3 {
	font-size: 50px;
	color: black;
	font-family: "Rajdhani";
	margin-top: 0px;
}


.raisonSocial {
	font-size: 80px;
	color: white;
	font-family: "Rajdhani";
	font-weight: 600;
	margin-bottom: 0px;
}


.MedecinVeto {
	font-size: 25px;
	color: white;
	font-family: "Rajdhani";
	margin-top: 0px;
}

.InfoHoraire {
	margin-top: 10px;
	background-color: rgba(4, 52, 89,0.6);
	padding: 10px 5px 5px 5px;
	width: 700px;
}

.Horaires {
	font-size: 18px;
	color: white;
	text-align: center;
}
.presentation {
	background-color: white;
}
.PresentationVeto {
<<<<<<< HEAD
	font-size: 15px;
=======
>>>>>>> parent of 67034b4... pull du push de Rebecca et JP
	text-align: justify;
	margin-bottom: 10px;
	margin-left: 10px;	

}

.photo_veto {
	float: left;
	height: 215px;
	width: 235px;
	margin-right: 10px;
	border-radius: 70px;
}



.footer{
	margin-top: 20px;
	padding-top: 15px ;
	background-color: #3A83FF;
	color: white;
}

h5 a {
	color: white;
}

/* CSS News Letter*/

.newsletter {
	margin-top: 10px;
	border: 1px solid black;
	text-align: justify;
}


/* CSS 2eme page Conseils*/

.TitreConseils {
	margin-top: 50px;
	color: black;
}

.TitreConseils:before {
content:"";
display:block;
height:50px; /* fixed header height*/
margin:-50px 0 0; /* negative fixed header height */
}

/* button popup icones conseils */
/* position button/title & colors */
.titrebutton > div {      
	text-align:center;
	font-size: 20px;
}

/* button grp 1 */
.sterilisation {
	color: #008080;
}

.vaccination {
	color: #99E298;
}

.parasites {
	color: #916F6F;
}

/* button grp 2 */
.medication {
	color: #FF0000;
}

.hygienes  {
	color: #61E8F5;
}

.identification {
	color: #800000;
}

/* button grp 3 */
.education {
	color: #80B3FF;
}

.autres1  {
	color: #008080;
}

.autres2 {
	color: #008080;
}

.btn {
	vertical-align: 0 !important;

}
/* button img */
.btn-circle-sterilisation {            
  width: 120px;
  height: 120px;
  margin-top: 60px;
  border-radius: 70px !important;
  background-image: url('elements/img123vet/icoSteril.svg') !important;
  background-size: 120px;
  background-repeat: no-repeat;
}

.btn-circle-vaccination {			
  width: 120px;
  height: 120px;;
  margin-top: 60px;
  border-radius: 70px !important;
  background-image: url('elements/img123vet/icoVacc.svg') !important;
  background-size: 120px;
  background-repeat: no-repeat;
}

.btn-circle-parasites {	
  width: 120px;
  height: 120px;
  margin-top: 60px;
  border-radius: 70px !important;
  background-image: url('elements/img123vet/icoParaz.svg') !important;
  background-size: 120px;
  background-repeat: no-repeat;
}

.btn-circle-medication {
  width: 120px;
  height: 120px;
  border-radius: 70px !important;
  background-image: url('elements/img123vet/icoMed.svg') !important;
  background-size: 120px;
  background-repeat: no-repeat;
}

.btn-circle-hygienes {			
  width: 120px;
  height: 120px;
  border-radius: 70px !important;
  background-image: url('elements/img123vet/icoHyg.svg') !important;
  background-size: 120px;
  background-repeat: no-repeat;
}

.btn-circle-identification {			
  width: 120px;
  height: 120px;
  border-radius: 70px !important;
  background-image: url('elements/img123vet/icoID.svg') !important;
  background-size: 120px;
  background-repeat: no-repeat;
}

.btn-circle-education {			
  width: 120px;
  height: 120px;
  border-radius: 70px !important;
  background-image: url('elements/img123vet/icoEduc1.svg') !important;
  background-size: 120px;
  background-repeat: no-repeat;
}

.btn-circle-autres1  {			
  width: 120px;
  height: 120px;
  border-radius: 70px !important;
  background-image: url('elements/img123vet/icoSteril.svg') !important;
  background-size: 120px;
  background-repeat: no-repeat;
}

.btn-circle-autres2  {        
  width: 120px;
  height: 120px;
  border-radius: 70px !important;
  background-image: url('elements/img123vet/icoSteril.svg') !important;
  background-size: 120px;
  background-repeat: no-repeat;
}

/* CSS 3eme page Prestation*/
.Titre {
	margin-top: 10px;
	color: black;
}

.accordion{
	height: 70vh;
}

.accordeonConseils{
	margin-top: 10px; 
	margin-bottom: 10px;
}

.TitreTarif {
	text-align: left;
	color: #000B50;
	line-height: 30px;
}

.panel-heading {
	background-color: #8BBDD3;
	height: 55px;
	margin-bottom: 5px;
}

/* CSS page Espaces de ventes*/
.TitreVentes {
	margin-top: 50px;
	color: black;
}
.PartenaireVentes {
	color: black;
}
.accordeonVentes {
	margin-top: 50px; 
	margin-bottom: 20px;
}
.accordeonVentes2 {
	background-color: #046893;
	height: 55px;
	margin-bottom: 5px;
}
.TitreVentes2 {
	text-align: left;
	color: white;
	line-height: 30px;
}
.TitreVentes:before {
content:"";
display:block;
height:50px; /* fixed header height*/
margin:-50px 0 0; /* negative fixed header height */
}

/* CSS 4eme page Contact et Prise de RDV*/

/* CSS 4eme page partie formulaire*/


.TitreForm {
	margin-top: 80px;
	margin-right: 50px;
}
.identite {
	margin-top: 25px;
	margin-bottom: 20px;
}

input {
	height: 50px;
	width: 200px;
}
.type {
	height: 50px;
	width: 200px;
}

.probleme, .choix{
	margin-top: 20px;
	margin-bottom: 5px;
	height: 50px;
	width: 200px;
}

.horaires, .dates{
	height: 50px;
	width: 99px !important;
}

.avis {
	width: 410px;
	height : 150px;
	margin-bottom: 5px;
}

.EnvoieForm {
	margin-right: 40px;
}

/* CSS 4eme page partie adresse et map*/
.adresse {
	margin: 0 auto;
	margin-top: 80px;
	margin-bottom: 40px;
	padding-top: 10px;
	padding-left: 10px;
	background-color: #143143;
	color: white;
	height: 120px;
	width: 280px;
	border-radius: 10px;
}

.map {
	margin: 0 auto;
}


/* CSS 5eme page Mentions Légales*/

.raison-sociale {
	margin-top: 75px;
}

.mentions {
	
margin-bottom: 35px;

}

/* CSS plan du site*/

.margePlanDuSite {
	margin-top: 60px;
}

.listePDS {
	color: #555;
	list-style: none;
	margin-left: 50px;
}

li {
	list-style: none;
}

.list-group-item {
	border: none;
}

 
.menuplan ul a {
	color: black;
	list-style: none;
}


/* CSS carousel*/

.fleche {
	font-size: 70px;
	line-height: 500px;
	color:#061439;
}

.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 58.5%;
      margin: auto;
}